flows.json
[{"id":"60d60400.aeab3c","label":"time","type":"tab"},{"id":"bbaada63.ec1a98","type":"inject","z":"60d60400.aeab3c","name":"inject","topic":"","payload":"{data:Date.now()}","payloadType":"date","repeat":1,"crontab":"","once":false,"x":109,"y":295,"wires":[["1176a205.aa14fe"]]},{"id":"e283b65c.70a258","type":"webify","z":"60d60400.aeab3c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n   \n   #container{\n      background: #009688;\n      width: 100%;\n      height: 100%;\n   }\n   \n   .timestamp {\n        position: absolute; \n        top: 45%; \n        left: 0;\n        text-align: center; \n        width: 100%; \n        color: white;\n        font-size: 5em;\n    }\n</style>\n\n<div id=\"container\">\n    <div class=\"timestamp\">\n        {{payload}}\n    </div>\n</div>","x":377,"y":407,"wires":[["fb9dde34.aa76f"]]},{"id":"fb9dde34.aa76f","type":"app","z":"60d60400.aeab3c","name":"","appId":"webapp","layout":null,"x":498,"y":302,"wires":[]},{"id":"1176a205.aa14fe","type":"dbfunction","z":"60d60400.aeab3c","name":"pretty print","func":"var moment = require(\"moment\");\n\nvar nicelyformattedTime = moment(msg.payload).format('DD/MM/YYYY HH:mm:ss');\n\nreturn {\n    payload: nicelyformattedTime\n};","outputs":1,"noerr":0,"x":245,"y":296,"wires":[["e283b65c.70a258","d754f636.d95038"]]},{"id":"d754f636.d95038","type":"debugger","z":"60d60400.aeab3c","name":"","active":true,"console":"false","complete":"false","x":386,"y":205,"wires":[]}]